@font-face {
    font-family: 'RoundsBlack';
    src: url('RoundsBlack.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
:root{
    --primary:#424B54;
    --secondary:#B39063;
    --tertiary:#C7A477;
    --quartiary:#D8C9B2;
    --pin:#F17167;
    --pinSec: #DA663C;
    --font: #695A3B;

    --m1: #ff85f5;
    --m2: #ab94ee;
    --m3: #e72f0f;
    --m4: #00ff22;
    --m5: #4caf50;
    --m6: #808000;
    --m7: #a994eb;
    --m8: #1b61e4;
    --m9: #999999;
    --m10: #ff1ad5;
    --m11: #800080;
    --m12: #0749ff;
    --m13: #D40000;
    --m14: #FFA500;
    --m15: #49965b;
    --m16: #45bdb7;
    --m16: #e49f1e;
    --m17: #A020F0;
    --m18: #4fd5df;
}
::-webkit-scrollbar {
    background-color: var(--quartiary);
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 100px;
}
body{
    font-family:'RoundsBlack';
    background-color: var(--primary);
    height:fit-content;
}
header{
    padding: 0px 20px 0px 20px;
    margin: 20px;
    margin-bottom: 0%;
    font-size: 20px;
}
main {
    color: var(--font);
    border-radius: 3em;
    background: var(--tertiary);    
    width: auto;
    height: calc(100% - 40px - 3em);
    min-height: calc(100vh - 40px - 3em);
    padding: 20px;
    padding-right: 0px;
    margin: 20px;
    box-shadow: inset -0.5em -0.5em  var(--secondary);
}
div:not(div[hidden]) {
    background-color: var(--quartiary);
    border-radius: 1.5em;
    padding: 0% 0.5em 0.5em 1.5em;
    margin: 0.5em 0.5em;
    display: inline-block;
}

div *:not(img):not(.Pin) {
    padding: 0 !important;
    border-radius: 0 !important;
}

div:not(div[hidden]).Pin{
    background-color:var(--pinSec);
    border-radius: 100%;
    width: 2.5em;
    height: 2.5em;
    padding: 0%;
    margin: 0%;
    position: relative;
    top: -15px;
    left: calc(50% - 3em);
    box-shadow: 0px 0px 0px 0.5em var(--pin);
}
div:not(div[hidden]).Person {
    width: 300px;
    rotate: -15deg;
    cursor: pointer;
    transition: box-shadow .5s ease;
}

div:not(div[hidden]).Person:hover {
    box-shadow: 5px 5px 10px var(--primary);
}

.Person:nth-child(1) > h3 { color: var(--m1); }
.Person:nth-child(2) > h3 { color: var(--m2); }
.Person:nth-child(3) > h3 { color: var(--m3); }
.Person:nth-child(4) > h3 { color: var(--m4); }
.Person:nth-child(5) > h3 { color: var(--m5); }
.Person:nth-child(6) > h3 { color: var(--m6); }
.Person:nth-child(7) > h3 { color: var(--m7); }
.Person:nth-child(8) > h3 { color: var(--m8); }
.Person:nth-child(9) > h3 { color: var(--m9); }
.Person:nth-child(10) > h3 { color: var(--m10); }
.Person:nth-child(11) > h3 { color: var(--m11); }
.Person:nth-child(12) > h3 { color: var(--m12); }
.Person:nth-child(13) > h3 { color: var(--m13); }
.Person:nth-child(14) > h3 { color: var(--m14); }
.Person:nth-child(15) > h3 { color: var(--m15); }
.Person:nth-child(16) > h3 { color: var(--m16); }
.Person:nth-child(17) > h3 { color: var(--m17); }
.Person:nth-child(18) > h3 { color: var(--m18); }

/********************* Popup *********************/
main.blurred {
    filter: brightness(.5) blur(5px);
}

.Popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 150px);
    height: calc(100% - 100px);
    font-size: 22px;
    opacity: 1;
    transition: opacity .2s ease;
}

.Popup.hidden {
    opacity: 0;
    top: -100%;
    transition: opacity .2s ease;
}

.Popup .Pin {
    top: -30px !important;
    width: 5em !important;
    height: 5em !important;
}

.Popup .img {
    vertical-align: middle;
}

.Popup .back {
    height: 100px;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    border-radius: 50%;
    transition: height .2s ease,
                top .2s ease,
                right .2s ease;
}

.Popup .back:hover {
    height: 120px;
    top: calc(5% - 10px);
    right: calc(5% - 10px);
}

.Popup .img img {
    border-radius: 50%;
    height: 150px;
}

.Popup .name {
    font-size: 30px;
}

.Popup .name.m1 { color: var(--m1); }
.Popup .name.m2 { color: var(--m2); }
.Popup .name.m3 { color: var(--m3); }
.Popup .name.m4 { color: var(--m4); }
.Popup .name.m5 { color: var(--m5); }
.Popup .name.m6 { color: var(--m6); }
.Popup .name.m7 { color: var(--m7); }
.Popup .name.m8 { color: var(--m8); }
.Popup .name.m9 { color: var(--m9); }
.Popup .name.m10 { color: var(--m10); }
.Popup .name.m11 { color: var(--m11); }
.Popup .name.m12 { color: var(--m12); }
.Popup .name.m13 { color: var(--m13); }
.Popup .name.m14 { color: var(--m14); }
.Popup .name.m15 { color: var(--m15); }
.Popup .name.m16 { color: var(--m16); }
.Popup .name.m17 { color: var(--m17); }
.Popup .name.m18 { color: var(--m18); }

.Popup .msg {
    overflow-y: scroll;
    max-height: calc(100% - 2em - 200px);
    display: block;
}

.Popup .emoji {
    vertical-align: middle;
    height: 50px;
}
